---
import Section from "./Section.astro";
---

<div class="h-screen w-screen overflow-hidden min-w-[800px]">
    <Section
        title="Accesorios"
        oneButton="true"
        lastSection="true"
        color="black"
    />
    <img
        src="/Homepage-Accessories-Desktop-EMEA.avif"
        class="object-cover h-full w-full"
    />
</div>
