---
import Section from "./Section.astro";
---

<div class="h-screen w-screen overflow-hidden min-w-[800px]">
    <Section
        title="Disfrute Tesla"
        subtitle="Programe una prueba de conducción hoy mismo"
        type="video"
        oneButton="true"
    />
    <video
        src="/Homepage-Demo-Drive-Desktop-NA.webm"
        muted
        autoplay
        loop
        class="object-cover h-full w-full"></video>
</div>
