---
import Section from "./Section.astro";
---

<div class="h-screen w-screen overflow-hidden min-w-[800px]">
    <Section
        title="Model Y"
        subtitle="Concertar una prueba de conduccion"
        type="video"
        color="white"
    />
    <video
        src="/Homepage-Model-Y-Desktop-NA.mp4"
        muted
        autoplay
        loop
        class="object-cover h-full w-full"></video>
</div>
