---
import Logo from "./Logo.astro";
import QuestionIcon from "./QuestionIcon.astro";
import WorldIcon from "./WorldIcon.astro";
import UserIcon from "./UserIcon.astro";
---

<header
    id="landing-header"
    class="flex justify-between items-center px-9 py-9 w-full top-16 lg:top-6 md:top-9 sm:top-14 text-white z-20 absolute min-w-[640px] transition-colors duration-500"
>
    <Logo />
    <nav>
        <ul
            class="flex text-[13px] font-medium [&>li>a]:inline-block [&>li>a]:px-3"
        >
            <li><a href="#">Vehiculos</a></li>
            <li><a href="#">Energia</a></li>
            <li><a href="#">Carga</a></li>
            <li><a href="#">Descubrir</a></li>
            <li><a href="#">Tienda</a></li>
        </ul>
    </nav>

    <nav>
        <ul class="flex [&>li>a]:inline-block [&>li>a]:px-1">
            <li><a href="#"><QuestionIcon /></a></li>
            <li><a href="#"><WorldIcon /></a></li>
            <li><a href="#"><UserIcon /></a></li>
        </ul>
    </nav>
</header>

<script>
    const $landingHeader = document.getElementById("landing-header");

    const options = {
        root: null,
        rootMargin: "0px",
        thresholds: 0.5,
    };

    const observer = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
            if (entry.isIntersecting) {
                const color = entry.target.getAttribute("data-header-color");
                $landingHeader.style.color = color;
            }
        });
    }, options);

    const $sections = document.querySelectorAll(".landing-section");
    $sections.forEach((entry) => observer.observe(entry));
</script>
