---
import Section from "./Section.astro";
---

<div class="h-screen w-screen overflow-hidden min-w-[800px]">
    <Section title="Model 3" color="black" />
    <img src="/model3CarBackground.avif" class="object-cover h-full w-full" />
</div>
