---
import Section from "./Section.astro";
---

<div class="h-screen w-screen overflow-hidden min-w-[800px]">
    <Section title="Model S" subtitle="Explorar Inventario" color="black" />
    <img
        src="/Model-S-homepage-desktop.avif"
        class="object-cover h-full w-full"
    />
</div>
