---
import Section from "./Section.astro";
---

<div class="h-screen w-screen overflow-hidden min-w-[800px]">
    <Section title="Model X" subtitle="Explorar Inventario" />
    <img
        src="/Homepage-Model-X-Desktop-LHD.avif"
        class="object-cover h-full w-full"
    />
</div>
