---
import Section from "./Section.astro";
---

<div class="h-screen w-screen overflow-hidden min-w-[800px]">
    <Section
        title="Solar y PowerWall"
        subtitle="Energia para todos"
        oneButton="true"
    />
    <img src="/Desktop_SolarPanels.avif" class="object-cover h-full w-full" />
</div>
