<section
    class="flex flex-col absolute mt-14 md:mt-17 left-0 right-0 z-10 h-screen overflow-hidden"
>
    <div class="flex items-center flex-col">
        <h2
            class="font-bold lg:text-[40px] md:text-[38px] text-[36px] text-white"
        >
            Model Y
        </h2>
        <a href="#" class="underline text-white"
            >Concertar una prueba de conduccion</a
        >
    </div>

    <div class="flex justify-center gap-5 absolute bottom-36 right-0 left-0">
        <button
            class="bg-white text-black-500 px-12 py-2 rounded-md text-[14px]"
            >Entrega mas rapida</button
        >
        <button
            class="backdrop-blur-sm text-white px-12 py-2 rounded-md text-[14px]"
            >Pedido Personalizado</button
        >
    </div>
</section>
