<header
    class="flex flex-wrap justify-center items-center px-10 py-2.5 w-full min-w-80 fixed min-with:680px [background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#63e_100%)] text-white"
>
    <div class="text-sm text-center font-medium">
        <span class="font-bold text-[17px] mr-3"
            >Prueba de conduccion hoy mismo</span
        >
        <span class="mr-3">
            Sea una de las primeras personas en descubrir nuestro Model 3
            actualizado.
        </span>
        <span>
            <a href="#" class="underline"> Programe una prueba de conduccion</a>
        </span>
    </div>
</header>
